server {
    listen EDIT_ME_BACKEND_PORT;
    listen [::]:EDIT_ME_BACKEND_PORT;
    server_name EDIT_ME_BACKEND_NAME;
    root EDIT_ME_DEPLOY_PATH/current/web;

    error_log /var/log/nginx/EDIT_ME_BACKEND_NAME_error.log;
    access_log /var/log/nginx/EDIT_ME_BACKEND_NAME_access.log main;

    location / {
        try_files $uri /app.php$is_args$args;
    }

    location ~ ^/app\.php(/|$) {
        fastcgi_pass unix:EDIT_ME_PHP_FASTCGI;
        fastcgi_split_path_info ^(.+\.php)(/.*)$;
        include fastcgi_params;
        fastcgi_param SCRIPT_FILENAME $document_root$fastcgi_script_name;
        fastcgi_param HTTP_PROXY ""; # Fix for https://httpoxy.org/ vulnerability
        fastcgi_read_timeout 300;
        fastcgi_param HTTPS on; # http://blog.servergrove.com/2011/04/04/symfony2-quick-tip-generateurl-with-https-on-nginx/

        # Prevents URIs that include the front controller. This will 404:
        # http://domain.tld/app.php/some-path
        # Remove the internal directive to allow URIs like this
        internal;
    }
}
